---
import Layout from "../layouts/Layout.astro";
import avatarImg from '../assets/avatar.png'
import mapImage from '../assets/map.png'
import Section from "../components/Section.astro";
import TwIcon from '../components/icons/Twitter.astro'
import LnIcon from '../components/icons/Linkedin.astro'
import GhIcon from '../components/icons/GitHub.astro'
import MailIcon from '../components/icons/Mail.astro'

const writing = await Astro.glob('./p/*.md').then(v => v.map(post => ({
  href: post.url,
  label: post.frontmatter?.title
})))
const inspiration = [{
  label: "Linear", href: "https://linear.app", target: "_blank"
}, {
  label: "Notion", href: "https://notion.so", target: "_blank"
}, {
  label: "Planetscale", href: "https://planetscale.com", target: "_blank"
}, {
  label: "Craft", href: "https://craft.do", target: "_blank"
}, {
  label: "Slite", href: "https://slite.com", target: "_blank"
}, {
  label: "Astro", href: "https://astro.build", target: "_blank"
}, {
  label: "Endpoint Space", href: "https://www.endpoint.space", target: "_blank"
}]
const links = [{
  icon: TwIcon,
  href: 'https://twitter.com/alonzuman', label: "Twitter", target: "_blank"
}, {
  icon: LnIcon,
  href: "https://www.linkedin.com/in/alon-zuman-018365193/", label: "Linkedin", target: "_blank"
}, {
  icon: GhIcon,
  href: "https://github.com/alonzuman", label: "GitHub", target: "_blank"
}, {
  icon: MailIcon,
  href: "mailto:alonzuman7@gmail.com", label: "Email", target: "_blank"
}]

const projects = [{ target: "_blank", href: 'https://jobs-51.web.app', label: "Jobs-51" },]

const work = [{
  target: "_blank", href: 'https://junojourney.com', label: "Juno Journey"
}, {
  target: "_blank", href: 'https://barbiz.shop', label: "Barbiz"
}, {
  href: '#', label: "Leesa"
}, { target: '_blank', href: 'https://zumanjewelry.com', label: "Zuman Jewelry" }]

const reading = [{ href: 'https://leerob.io', target: '_blank', label: 'Lee Robinson' }, {
  href: 'https://brianlovin.com', target: "_blank", label: "Brian Lovin"
}, {
  href: 'https://tkdodo.eu/blog/'
  , target: '_blank', label: "Dominik"
}, {
  href: 'https://kentcdodds.com/'
  , target: '_blank', label: "Kent C. Dodds"
}]

---

<Layout title="Alon Zuman">

  <header class='mb-24'>
    <a href='/#' class='flex'>
      <div class='w-full'>
        <div class='mb-4 gradient-bg p-[4px] w-fit rounded-full'>
          <img class='rounded-full h-16 w-16 border-4 border-neutral-50 dark:border-neutral-900' src={avatarImg} />
        </div>
        <h4>Hey, I'm <span class='font-bold gradient-text'>Alon</span>
          👋, I'm a design-minded software engineer passionate about building beautiful
          experiences for
          people to enjoy.
        </h4>
      </div>
    </a>
  </header>
  <Section title='Links' links={links} />
  <Section title='Reading' links={reading} />
  <Section title='Writing' links={writing} />
  <Section title='Projects' links={projects} />
  <Section title='Where'>
    <div class='text-center mb-4'>
      <div class='p-[4px] w-fit gradient-bg rounded-[19px]'>
        <img src={mapImage} class='border-4 border-neutral-50 dark:border-neutral-900 rounded-2xl'
          alt='Tel Aviv - Yafo, Israel' />
      </div>
      <small class='text-neutral-400'>Tel Aviv - Yafo, Israel</small>
    </div>
  </Section>
  <Section title='Inspiration' links={inspiration} />
  <Section title='Work' links={work} />
</Layout>
