---
export interface Props {
  links?: { label: string; href: string; target?: HTMLAttributeAnchorTarget; icon?: string }[];
  title: string;
}

const { title, links } = Astro.props as Props;
const id = title?.toLowerCase?.()?.replace(' ', ' -')
---

<section class='flex mb-16'>
  <a href={`#${id}`}>
    <h4 id={id} class='w-24 text-neutral-400 hover-gradient-text'># {title}</h4>
  </a>
  <ul class='w-full'>
    {links?.map(({label, icon,...link}) => (
    <li class='mb-2 w-full flex items-center justify-between '>
      <a {...link} class='w-full hover-gradient-text'>
        {label}
      </a>
      <img src={icon} />
    </li>
    ))}
  </ul>
  <slot />
</section>
