---
export interface Props {
  links?: { label: string; href: string; target?: HTMLAttributeAnchorTarget; icon?: any; secondary?: string }[];
  title: string;
}

const { title, links } = Astro.props as Props;
const id = title?.toLowerCase?.()?.replace(' ', ' -')
---

<section class='flex flex-col lg:flex-row  mb-24'>
  <div
    class='text-left mb-4 lg:mb-0 lg:text-right pr-4 w-32 lg:ml-[-128px] text-neutral-400 hover-gradient-text shrink-0'>
    <a href={`#${id}`}>
      <h4 id={id}># {title}</h4>
    </a>
  </div>
  {links?.length > 0 && (
  <ul class='w-full'>
    {links?.map(({ label, secondary, icon:Icon,...link }) => (
    <li class='mb-2 w-full flex items-center justify-between hover-gradient-text'>
      <a {...link} class='w-full flex items-center justify-between'>
        {label}
        <span class='shrink-0 font-mono text-sm '>
          {secondary}
        </span>
      </a>

      {Icon &&
      <span class='text-neutral-500'>
        <Icon />
      </span>
      }
    </li>
    ))}
  </ul>
  )}
  <slot />
</section>
